alias zshconfig="vim ~/.zshrc"
alias ohmyzsh="vim ~/.oh-my-zsh"
alias :e=vim 

alias show_hidden="defaults write com.apple.Finder AppleShowAllFiles YES && killall Finder"
alias hide_hidden="defaults write com.apple.Finder AppleShowAllFiles NO && killall Finder"
alias grep='grep --color=auto'

alias bc='bc -l' #always have bc with math libraries and large scale
alias ls='ls -G'

alias tt='task rc:/Users/robert/Documents/research/secure_apis/thesis/.taskrc'
alias ttl='task rc:/Users/robert/Documents/research/secure_apis/thesis/.taskrc list'
alias mpisc='ncmpcpp -c ~/.ncmpcpp/piscine'
alias mext-pisc='ncmpcpp -c ~/.ncmpcpp/piscine-ext'

alias pisync='ssh pi \~/bin/gitsync.sh'
alias pirw='ssh pi \~/bin/mount_rw.sh'
alias piro='ssh pi \~/bin/mount_ro.sh'

