[submodule ".vim/bundle/sub-ultisnips"]
	path = .vim/bundle/sub-ultisnips
	url = https://github.com/vim-scripts/UltiSnips
[submodule ".vim/bundle/sub-lusty"]
	path = .vim/bundle/sub-lusty
	url = http://github.com/sjbach/lusty
[submodule ".vim/bundle/sub-nerdtree"]
	path = .vim/bundle/sub-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/sub-tabular"]
	path = .vim/bundle/sub-tabular
	url = git://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/sub-taglist"]
	path = .vim/bundle/sub-taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule ".vim/bundle/sub-colors-solarized"]
	path = .vim/bundle/sub-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/sub-commentary"]
	path = .vim/bundle/sub-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/sub-dispatch.git"]
	path = .vim/bundle/sub-dispatch.git
	url = https://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/sub-matchit.git"]
	path = .vim/bundle/sub-matchit.git
	url = https://github.com/edsono/vim-matchit.git
[submodule ".vim/bundle/sub-repeat"]
	path = .vim/bundle/sub-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/sub-surround"]
	path = .vim/bundle/sub-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/bundle/sub-tags.git"]
	path = .vim/bundle/sub-tags.git
	url = https://github.com/szw/vim-tags.git
[submodule ".vim/bundle/sub-tagbar"]
	path = .vim/bundle/sub-tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule ".vim/bundle/sub-signifie"]
	path = .vim/bundle/sub-signifie
	url = https://github.com/mhinz/vim-signify.git
[submodule ".vim/bundle/sub-tex-9"]
	path = .vim/bundle/sub-tex-9
	url = https://github.com/vim-scripts/TeX-9
[submodule ".vim/bundle/sub-tmux-navigator"]
	path = .vim/bundle/sub-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
