if [[ `uname` == "Darwin" ]]; then 
    alias show_hidden="defaults write com.apple.Finder AppleShowAllFiles YES && killall Finder"
    alias hide_hidden="defaults write com.apple.Finder AppleShowAllFiles NO && killall Finder"
    alias xdg-open=open
else 
    alias open=xdg-open
fi

export PATH=$PATH:~/bin
export EDITOR=vim

export LC_ALL=en_US.UTF-8  
export LANG=en_US.UTF-8

FILE="$HOME/.aliases-hostspecific" && test -f $FILE && source $FILE



alias :e=vim 
alias grep='grep --color=auto'
alias bc='bc -l' #always have bc with math libraries and large scale
alias ls='ls -G'
alias info='info --vi-keys'

alias polyvim='rlwrap poly --use ~/.polyml/vimhol.ml'
alias holvim='TERM=xterm rlwrap ~/src/HOL/bin/hol --use ~/.hol-config.sml'
alias ocamli='rlwrap ocaml'
export RLWRAP_EDITOR="vi +%L"

alias pisync='ssh pi \~/bin/gitsync.sh'
alias pirw='ssh pi \~/bin/mount_rw.sh'
alias piro='ssh pi \~/bin/mount_ro.sh'

alias mpisc='ncmpcpp -c ~/.ncmpcpp/piscine'
alias mext-pisc='ncmpcpp -c ~/.ncmpcpp/piscine-ext'

alias tmux='tmux -2'

alias speedtest='curl -o /dev/null http://speedtest.wdc01.softlayer.com/downloads/test100.zip'

alias today="task add due:today"
alias tomorrow="task add due:tomorrow"

alias worktodo='task add +work'
alias work='task +work ls'

alias hometodo='task add +home'
alias home='task +home ls'

alias einkauf='task rc:~/.task-einkauf/taskrc'
alias kauf='einkauf add proj:rewe'

alias bantschow='mutt -H ~/.mail/templates/bantschow.mail/cur/1445938465.11423_5.pc-kuennemann:2,S'
